header#top.navbar.navbar-default.navbar-static-top {
  min-height: 0;
}

.sfia-table {
  width: 100%;
  max-width: 100%;
  background-color: transparent;
  border-spacing: 0;
  border-collapse: collapse;
  font-weight: bold;
  border-bottom: 1px solid grey;
}

.sfia-table thead {
	display: table;
	width: 100%;
}

.sfia-table tbody {
	height: 600px;
	display: block;
	overflow: scroll;
}

.sfia-table thead tr {
  background: rgb(100, 100, 100);
  color: white;
}

.sfia-table thead th, .sfia-table tbody td {
  border-right: 1px solid grey;
  border-top: 1px solid grey;
}

.sfia-table th, .sfia-table td {
  padding: 10px 0;
  padding-left: 10px;
}

.sfia-table td.col-checkbox {
  text-align: center;
  padding-left: 0px;
  border-right: none;
}

.sfia-table tr td.col-checkbox:last-of-type {
  border-right: 1px solid grey;
}

.sfia-table td.root_key {
  color: white;
}

.sfia-table td.root_key:empty {
  border-top: none;
}

#sfia-output:empty:before {
	content: "To begin, please select a skill level";
}

#sfia-output {
	height: 502px;
	overflow: scroll;
}

.sfia-table td.root_key, .sfia-table th.root_key_th {
	width: 16%;
	min-width: 115px;
}

.sfia-table td.sub_key, .sfia-table th.sub_key_th {
	width: 16%;
	min-width: 115px;
}

.sfia-table td.skill_key, .sfia-table th.skill_key_th {
	width: 28%;
	min-width: 210px;
}

.sfia-table td.col-checkbox, .sfia-table th.skill_level_th {
	width: 5%;
	min-width: 45px;
}

.sfia-table td.skill_key span {
	margin-right: 15px;
}

.sfia-table th.skill_level_th {
	padding-right: 15px;
	text-align: center;
}

.sfia-table td.sub_key {
  background: rgba(255,255,255,0.25);
}

.sfia-table td.sub_key:empty {
  border-top: none;
}

.sfia-table td.skill_key {
  background: rgba(255,255,255,0.8);
}

.sfia-table td.no_select_col {
  background: rgba(255,255,255,0.85);
}

.col-checkbox input[type=checkbox] {
  font-size: 2em;
}

.strategy_and_architecture {
  background-color: rgb(216,48,80);
}

.change_and_transformation {
  background-color: rgb(188,81,141);
}

.development_and_implementation {
  background-color: rgb(236,193,59);
}

.delivery_and_operation {
  background-color: rgb(162,96,47);
}

.skills_and_quality {
  background-color: rgb(0,155,205);
}

.relationships_and_engagement {
  background-color: rgb(0,153,79);
}